/* span tag is used to target a portion in a specif paragraph or line in which we can later do edit and designing with the help of class */

/*            DISPLAY PROPERTY
 in dispay:none, that item gets disappeared as if it never existed
 while in visibility: hidden, item gets disappeared only but still consumes its orignal space */

 /* relative positioning (positoin: relative, left:20px right:50px etc etc) does not affect any other element on the screen 
 but Absolute positioning does affect the flow of the html page, Absolute is easy and more helpful,
    Also absolute totally depends on its parent container i.e. if, i make another div as a parent container of another div then the margins will be related with that div
Fixed positionin fixes that particular portion of the body on webpage and doesnt move whe we screoll through it */

body{
    margin: 0;
    text-align: center;
    /* text align center only happens to those elements whose width is not mentioned, if we have a width mentioned
    we have to put the margin as auto inside that part of body where width is mentioned; */
    font-family: 'Merriweather', serif;
}

h1{
    /* margin-top: 0; */
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
    line-height:2;
    font-family: 'Sacramento', cursive;
    color: #66BFBF;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    color: #66BFBF;
}
h3{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}

.top-container{
    background-color: #e4f5f9;
    /* border: solid 10px; */
    padding-top: 100px;
    position: relative;
}
.middle-container{
    background-color: #e4f5f9;
}
.bottom-container{

}

.span{
    text-decoration: underline;
}

.bottom-cloud {
    position: absolute;
    left: 450px;
    bottom: 350px;
}

.top-cloud{
    position: absolute;
    top: 41px;;
    right: 430px;
}